ul {
    margin: -10px;
    padding: 0;
    list-style: none;
    height: 36px;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

li {
    float: left;
}

a {
    display: block;
    padding: 0 28px;
    text-decoration: none;
    line-height: 36px;
    color: snow;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}
.search {
    line-height: 36px;
}

button {
    background-color: aquamarine;
    color: navy;
}

.button-order {
    display: flex;
    background-color: darkgreen;
}